{% load dynamic_rest %}

<div id="{{ field.id }}" class="{% if field.read_only %} drest-field--disabled{% endif %}{% if not field.is_empty %} drest-field--selected{% endif %} drest-field--datetime drest-field{% if field.errors %} drest-field--invalid{% endif %}">
    <div
        class="drest-field__body">
        <input
            id="{{ field.id }}-input"
            name="{{ field.name }}"
            data-type="{{ style.input_type }}"
            class="drest-field__input"
            type="text"
            {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %}
            {% if field.value %}value="{{ field.value }}"{% endif %}
            {% if field.errors %}
                invalid
            {% endif %}
            {% if field.required %}
                required
            {% endif %}
            {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}/>
        <label
            class="drest-label"
            for="{{ field.id }}-input">
            {{ field.label }}
        </label>
        <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>
    </div>
    <p
        id="{{ field.id }}-helper"
        class="drest-field__helper">
        {% if field.help_text %}
            {{ field.help_text | help_text_format | safe }}
        {% endif %}
    </p>
    {% include "./field-js.html" %}
</div>
