{% load dynamic_rest %}

<div id="{{ field.id }}" class="drest-field--file drest-field {% if field.errors %}drest-field--invalid{% endif %}">
    <label for="{{ field.id }}-input" class="drest-field__label">
        {{ field.label }}
    </label>
    <input
        id="{{ field.id }}-input"
        name="{{ field.name }}"
        type="file"
        {% if field.value %}
            value="{{ field.value }}"
            data-default-file="{{ field.value.url }}"
        {% endif %}
        {% if field.errors or field.help_text %}
            aria-controls="{{ field.id }}-helper"
            aria-describedby="{{ field.id }}-helper"
        {% endif %}
        {% if field.errors %}
            invalid
        {% endif %}
        {% if field.required and not field.allow_null %}
            required
        {% endif %}
        {% if field.read_only %}
            disabled
        {% endif %}
    >
    <p
        id="{{ field.id }}-helper"
        class="drest-field__helper">
        {% if field.help_text %}
            {{ field.help_text | help_text_format | safe }}
        {% endif %}
    </p>
    {% include "./field-js.html" %}
</div>

