{% load rest_framework %}
{% load dynamic_rest %}

{% get_sections form as sections %}
<div class="drest-grid">
        {% for section in sections %}
              <div class="drest-grid__item">
                <div class="drest-section mdc-card {% if section.field %}mdc-card--relation{% endif %}">
                    {% if section.name %}
                        <div class="mdc-card__title">{{ section.name }}</div>
                    {% endif %}

                    {% if section.should_render %}
                        <div class="mdc-card__fields">
                            {% for field in section.fields %}
                                {% if field.should_render %}
                                    {% render_field field style=style %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
               </div>
            </div>
    {% endfor %}
</div>
<input class="drest-hidden" type="submit"/>
