{% load dynamic_rest %}

<div
    id="{{ field.id }}"
    class="drest-field drest-field--text"
    {% if field.errors %}drest-field--invalid{% endif %}
    {% if field.read_only %}drest-field--disabled{% endif %}
    {% if field.write_only %}drest-field--writeonly{% endif %}">

    <div {% if field.iframe %}
            class="drest-field__block">
            <iframe src="{{ field.value }}"></iframe>
        {% else %}
            {% if field.chart %}
            class="drest-field__block">
            <div id="{{ field.id }}-chart" class="drest-chart"></div>
            {% else %}
                class="drest-field__body">
                {% if field.long %}
                    <textarea
                        rows=1
                        name="{{field.name}}"
                        id="{{field.id}}-input" class="drest-field__input"
                        {% if field.read_only %}readonly{% endif %}
                        {% if field.errors or field.help_text %}
                            aria-controls="{{ field.id }}-helper"
                            aria-describedby="{{ field.id }}-helper"
                        {% endif %}
                        {% if field.errors %}invalid{% endif %}
                        {% if field.required %}required{% endif %}
                    >{{ field.value }}</textarea>
                {% else %}
                    <input
                        class="drest-field__input"
                        name="{{ field.name }}"
                        type="{% if style.input_type %}{{ style.input_type}}{% else %}text{% endif %}"
                        id="{{ field.id }}-input"
                        {% if field.read_only %}readonly{% endif %}
                        {% if field.errors or field.help_text %}
                            aria-controls="{{ field.id }}-helper"
                            aria-describedby="{{ field.id }}-helper"
                        {% endif %}
                        {% if field.errors %}invalid{% endif %}
                        {% if field.required %}required{% endif %}
                        value={{ field | field_to_json }}
                    />
                {% endif %}
            {% endif %}
        {% endif %}
        <label
            class="drest-label"
            for="{{ field.id }}-input"
        >
            {{ field.label }}
        </label>
        {% if not field.iframe and not field.chart %}
            <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>
        {% endif %}
    </div>
    <p
        id="{{ field.id }}-helper"
        class="drest-field__helper">
        {% if field.help_text %}
            {{ field.help_text | help_text_format | safe }}
        {% endif %}
    </p>
    {% include "./field-js.html" %}
</div>
