{% load dynamic_rest %}

{% if field.label %}
    <label for="{{ field.id }}-input" class="mdc-floating-label mdc-floating-label--float-above {% if style.hide_label %}sr-only{% endif %}">
        {% if field.help_text %}
            <span data-tippy-trigger="click" title="{{ field.help_text | help_text_format | safe}}">
                {{ field.label }}{% if field.required %}*{% endif %}
            </span>
        {% else %}
            {{ field.label }}{% if field.required %}*{% endif %}
        {% endif %}
    </label>
{% endif %}
