{% load i18n %}
{% load rest_framework %}
{% load dynamic_rest %}

{% trans "No items to select." as no_items %}

<div id="{{ field.id }}" class="drest-field drest-field--select2 many {% if field.errors %}drest-field--invalid{% endif %}">
    <label for="{{ field.id }}-input" class="drest-label">{{ field.label }}</label>

    <div class="drest-field__body">
        <select
            id="{{ field.id }}-input"
            multiple="multiple"
            class="drest-field__input"
            {% if field.read_only %}disabled{% endif %}
            name="{{ field.name }}">
        </select>
        <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>
    </div>

    <p
        id="{{ field.id }}-helper"
        class="drest-field__helper">
        {% if field.help_text %}
            {{ field.help_text | help_text_format | safe }}
        {% endif %}
    </p>
    {% include "./field-js.html" %}
</div>

