{% load i18n %}
{% load rest_framework %}
{% load dynamic_rest %}

{% trans "No items to select." as no_items %}

<div id="{{ field.id }}" class="drest-field drest-field--select2 many {% if field.errors %}drest-field--invalid{% endif %}">
    <label for="{{ field.id }}-input" class="drest-field__label">{{ field.label }}</label>

    <div class="drest-field__select">
        <select
            id="{{ field.id }}-input"
            multiple="multiple"
            {% if field.read_only %}disabled{% endif %}
            name="{{ field.name }}">
        </select>
    </div>

    <p id="{{ field.id }}-helper" class="push-up {% if field.errors %}mdc-text-field-helper-text--persistent{% endif %} mdc-text-field-helper-text" aria-hidden="false">
        {% if field.errors %}
            {% for error in field.errors %}
                <span>{{error}}</span>
            {% endfor %}
        {% else %}
            <span>{{ field.help_text | help_text_format | safe }}</span>
        {% endif %}
    </p>
</div>

{% include "./field-js.html" %}
