{% load i18n %}
{% load rest_framework %}
{% load dynamic_rest %}

{% if field.image %}
    {% get_image_url field as image_url %}
    <div id="{{ field.id }}" class="drest-field--file drest-field--relation drest-field{% if image_url %} drest-field--selected{% endif %}{% if field.errors %} drest-field--invalid{% endif %}{% if field.read_only %} drest-field--disabled{% endif %}">
        <label for="{{ field.id }}" class="drest-field__label">{{ field.label }}</label>
        <input type="hidden" value={{ field | field_to_json }} id="{{field.id}}-input">
        <div class="dropify-wrapper">
            <div class="dropify-message">
                <span class="material-icons medium">image</span>
            </div>
            <div class="dropify-preview">
                <span class="dropify-render">
                    <img src="{% get_image_url field %}" />
                </span>
            </div>
        </div>
        {% include "./field-js.html" %}
    </div>

{% else %}

    {% trans "No items to select." as no_items %}

    <div id="{{ field.id }}" class="drest-field--relation w-100 drest-field--relation drest-field--select2 drest-field{% if field.many %} many{% endif %}{% if field.errors %} drest-field--invalid{% endif %}{% if field.read_only %} drest-field--disabled{% endif %}">
        <label for="{{ field.id }}-input" class="drest-field__label">{{ field.label }}</label>

        <div class="drest-field__select w-100">
            <select
                class='w-100'
                id="{{ field.id }}-input"
                {% if field.many %}multiple="multiple"{% endif %}
                {% if field.read_only %}disabled{% endif %}
                name="{{ field.name }}">
            </select>
        </div>

        {% if field.errors %}
            <p id="{{ field.id }}-helper" class="mdc-text-field-helper-text--persistent push-up mdc-text-field-helper-text" aria-hidden="false">
                {% for error in field.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </p>
        {% endif %}

        {% include "./field-js.html" %}
    </div>


{% endif %}

