{% load rest_framework %}
{% load dynamic_rest %}
<div class="p-2 mb-5">
    {% if not results.serializer %}
        {% for key in details %}
                <div class="drest-field row form-group p-2">
                    <label class="col-sm-2 form-control-label">
                        {{ key }}
                    </label>
                    <div class="col-sm-10 drest-field-value">
                        {% get_value_from_dict results key %}
                    </div>
                </div>
        {% endfor %}
    {% else %}
        {% get_sections results.serializers as sections %}

        {% for section in sections %}
            <div class="mdc-card">
                {% if section.name %}
                <div class="mdc-card__title">{{ section.name }}</div>a
                {% if section.has_action %}
                    <div class="mdc-card__action">
                        {{ section.action }}
                    </div>
                {% endif %}
                {% endif %}
                    <div class="mdc-card__fields">
                    {% for field in section.fields %}
                        {% if field.should_render %}
                            <div class="mdc-card__field {% if field.long %}mdc-card__field--long{% endif %}">
                                <label class="mdc-card__label">
                                        <span
                                            {% if field and field.help_text %}
                                                data-placement="right"
                                                data-tippy-trigger="click"
                                                title="{{ field.help_text | help_text_format | safe }}"
                                            {% endif %}
                                        >
                                            {{ field.label }}
                                        </span>
                                </label>
                                <div class="mdc-card__value">
                                    {{ field | render_field_value }}
                                    {% if field.name in create_related_forms %}
                                        <div class="drest-btn btn btn-primary" data-toggle="modal" data-target="#createModal-{{ field.name }}">
                                            <span class="drest-btn-icon fa fa-plus" aria-hidden="true"></span>
                                            <span class="drest-btn-label">Create</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
               </div>
        {% endfor %}
    {% endif %}
</div>
