{% load rest_framework %}
{% load dynamic_rest %}

<form
    id="drest-edit-form"
    class="drest-form drest-form--readonly drest-form--edit"
    action="{{ request.get_full_path }}"
    method="PATCH">
    <div class="drest-grid">
            {% get_sections results.serializer as sections %}
            {% for section in sections %}
                <div class="drest-grid__item">
                    <div class="drest-section mdc-card {% if section.field %}mdc-card--solo{% endif %}">
                        {% if section.name %}
                            <div class="mdc-card__title">{{ section.name }}</div>
                        {% endif %}
                        <div class="mdc-card__fields">
                            {% for field in section.fields %}
                                {% if field.should_render %}
                                    {% render_field field style=render_style %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    <input class="drest-hidden" type="submit"/>
</form>
<script>
    new DRESTForm({
        container: '#drest-edit-form',
        type: 'edit',
        resourceName: '{{ singular_name }}'
    });
</script>
