{% load rest_framework %}
{% load dynamic_rest %}
<div class="mdc-layout-grid mb-5">
<div class="mdc-layout-grid__inner">
    {% if not results.serializer %}
        {% for key in details %}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                    <div class="mdc-card__title">
                        <span class="mdi mdi-alert-circle-outline"></span>
                        Error
                    </div>
                    <div class="mdc-card__fields">
                        <div class="mdc-card__field">
                            <div class="mdc-card__label">
                                {{ key }}
                            </div>
                            <div class="mdc-card__value">
                                {% get_value_from_dict results key %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% get_sections results.serializer as sections %}
        {% for section in sections %}
          <div class="
            mdc-layout-grid__cell
            mdc-layout-grid__cell--span-{% if sections|length > 1 %}6{% else %}12{% endif %}-desktop
            mdc-layout-grid__cell--span-12-phone
            mdc-layout-grid__cell--span-12-tablet
          ">
            <div class="drest-section drest-section--readonly mdc-card {% if section.field %}mdc-card--relation{% endif %}">
                {% if section.name %}
                    <div class="mdc-card__title">{{ section.name }}</div>
                {% endif %}
                {% if section.field and section.field.name in create_related_forms %}
                    <div class="mdc-card__mainaction">
                        <div class="drest-btn btn btn-secondary" data-toggle="modal" data-target="#createModal-{{ section.field.name }}">
                            <span class="drest-btn-icon fa fa-plus" aria-hidden="true"></span>
                            <span class="drest-btn-label">Create</span>
                        </div>
                    </div>
                {% endif %}
                <div class="mdc-card__fields">
                    {% for field in section.fields %}
                        {% if field.should_render %}
                            {% render_read_only_field field style=render_style %}
                            {% if not section.field and field.name in create_related_forms %}
                                <div class="drest-btn btn btn-secondary" data-toggle="modal" data-target="#createModal-{{ field.name }}">
                                    <span class="drest-btn-icon fa fa-plus" aria-hidden="true"></span>
                                    <span class="drest-btn-label">Create</span>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
