{% load rest_framework %}
{% load dynamic_rest %}
{% drest_settings 'ADMIN_ICON_PACK' as icons %}

<h5 class="p-3">
    Welcome, {{request.user.name}}!
</h5>
<div class="mdc-list">
{% if request.user.is_authenticated %}
    <a class="mdc-list-item" href="{{ logout_url }}">
        <span class="drest-icon-left {{ icons }} {{ icons }}-{% if icons == 'fa' %}sign-out{% else %}logout{% endif %}"></span>
        <span>Logout</span>
    </a>
{% endif %}
{% for key, value in directory.items %}
    {% with url=value.0 icon=value.1 %}
            <a class="mdc-list-item" href="{{ url }}">
                {% if icon %}
                    <span class="drest-icon-left {{ icons }} {{ icons }}-{{ icon }}"></span>
                {% endif %}
                <span>{{ key }}</span>
            </a>
    {% endwith %}
{% endfor %}
</div>
