{% load rest_framework %}
{% load dynamic_rest %}
{% drest_settings 'ADMIN_ICON_PACK' as icons %}

<h5 class="p-3">
    Welcome, {{request.user.name}}!
</h5>
<div class="mdc-list">
{% for key, value in directory.items %}
    {% with url=value.0 icon=value.1 %}
            <a class="mdc-list-item" href="{{ url }}">
                {% if icon %}
                    <span class="drest-icon-left {{ icons }} {{ icons }}-{{ icon }}"></span>
                {% endif %}
                <span>{{ key }}</span>
            </a>
    {% endwith %}
{% endfor %}
</div>
