{% load rest_framework %}
{% load dynamic_rest %}
{% drest_settings 'ADMIN_ICON_PACK' as icons %}
<table class="table drest-table-directory">
    <tbody>
        {% if request.user.is_authenticated %}
            <tr><td>
                Welcome, {{request.user.name}}!
            </td></tr>
            <tr><td>
                <a href="{{ logout_url }}">
                    <span class="drest-icon-left {{ icons }} {{ icons }}-{% if icons == 'fa' %}sign-out{% else %}logout{% endif %}"></span>
                    <span>Logout</span>
                </a>
            </td></tr>
        {% endif %}
        {% for key, value in directory.items %}
            {% with url=value.0 icon=value.1 %}
                <tr><td>
                    <a href="{{ url }}">
                        {% if icon %}
                            <span class="drest-icon-left {{ icons }} {{ icons }}-{{ icon }}"></span>
                        {% endif %}
                        <span>{{ key }}</span>
                    </a>
                </td></tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>
