{% load rest_framework %}
{% load dynamic_rest %}

{% if results %}
    <table id="results-table" class="table drest-table-list">
      <thead class=''>
        <tr>
            {% for column in columns %}
                {% get_value_from_dict fields column as field %}
                {% if field %}
                    <th>
                        <span class="drest-column-header">
                            {% if column in sortable_fields %}
                                {% get_sort_query_value column sorted_field sorted_ascending as sort_query_value %}
                                <div class="drest-link" onclick="window.location = '{% replace_query_param url "sort[]" sort_query_value %}';">
                                    {{ field.label }}
                                    {% if column == sorted_field %}
                                        <span class="text-primary fa fa-sort-{% if sorted_ascending %}up{% else %}down{% endif %}"></span>
                                    {% else %}
                                        <span class="text-muted fa fa-sort"></span>
                                    {% endif %}
                                </div>
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </span>
                    </th>
                {% else %}
                    <th>{{ column }}</th>
                {% endif %}
            {% endfor %}
        </tr>
      </thead>
      <tbody>
            {% for row in results %}
              <tr>
                {% for key in columns %}
                    {% get_field_value row.serializer row.instance key as field %}
                    <td>{{ field | render_field_value }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
      </tbody>
    </table>
{% else %}
    <div class="no-results">No results, try creating a new record.</div>
{% endif %}
