{% load dynamic_rest %}

<div id="{{ filter.id }}" title="{{ filter.help_text | help_text_format }}" class="drest-field row justify-content-between">
    <div class="col-10">
        <label class="drest-field__block-label">{{ filter.label }}</label>
    </div>
    <div class="col-2 mdc-checkbox {% if filter.errors %}has-error{% endif %}" data-mdc-auto-init="MDCCheckbox">
        <input
            class="mdc-checkbox__native-control"
            type="checkbox"
            name="{{ filter.name }}"
            id="{{ filter.id }}-input"
            {% if filter.value %}
                checked
            {% endif %}
        >

         <div class="mdc-checkbox__background">
           <svg class="mdc-checkbox__checkmark"
              viewBox="0 0 24 24">
             <path class="mdc-checkbox__checkmark-path"
                fill="none"
                d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
           </svg>
            <div class="mdc-checkbox__mixedmark"></div>
         </div>
        {% if filter.errors %}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
    {% include "./filter-js.html" %}
</div>

