{% load dynamic_rest %}

<div class="drest-field {% if real_type == 'date' or real_type == 'datetime-local' or real_type == 'time' %}drest-field--datetime{% endif %}">
    <div class="mdc-text-field mdc-text-field--fullwidth" data-mdc-auto-init="MDCTextField">
        <input
            class="mdc-text-field__input"
            name="{{ key }}"
            data-type="{{ real_type }}"
            type="{{ range_type }}"
            id="{{ id }}1-input"
            {% if help_text %}
                aria-controls="{{ id }}1-helper"
                aria-describedby="{{ id }}1-helper"
            {% endif %}
            {% if value and value.0 %}
                value="{{ value.0 }}"
            {% endif %}
            {% if real_type == 'integer' %}
                step=1
            {% endif %}
        />
        <label
            {% if real_type == 'date' or real_type == 'datetime-local' or real_type == 'time' %}
                class="drest-field__label"
            {% else %}
                class="mdc-floating-label mdc-floating-label"
                data-mdc-auto-init="MDCFloatingLabel"
            {% endif %}
            data-mdc-auto-init="MDCFloatingLabel"
            for="{{ id }}1-input"
        >
            {{ label }} (min)
        </label>
        <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>
    </div>
    <p id="{{ id }}1-helper" class="mdc-text-field-helper-text" aria-hidden="true">
        {% if help_text %}
            {{ help_text | help_text_short_format | safe }}
        {% endif %}
    </p>

</div>

<div class="drest-field {% if real_type == 'date' or real_type == 'datetime-local' or real_type == 'time' %}drest-field--datetime{% endif %}">
    <div class="mdc-text-field mdc-text-field--fullwidth" data-mdc-auto-init="MDCTextField">
        <input
            class="mdc-text-field__input"
            name="{{ key }}"
            type="{{ range_type }}"
            id="{{ id }}2-input"
            data-type="{{ real_type }}"
            {% if help_text %}
                aria-controls="{{ id }}2-helper"
                aria-describedby="{{ id }}2-helper"
            {% endif %}
            {% if value and value.1 %}
                value="{{ value.1 }}"
            {% endif %}
            {% if real_type == 'integer' %}
                step=1
            {% endif %}
        />
        <label
            {% if real_type == 'date' or real_type == 'datetime-local' or real_type == 'time' %}
                class="drest-field__label"
            {% else %}
                class="mdc-floating-label mdc-floating-label"
                data-mdc-auto-init="MDCFloatingLabel"
            {% endif %}
            for="{{ id }}2-input"
        >
            {{ label }} (max)
        </label>
        <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>
    </div>
    <p id="{{ id }}2-helper" class="mdc-text-field-helper-text" aria-hidden="true">
        {% if help_text %}
            {{ help_text | help_text_short_format | safe }}
        {% endif %}
    </p>

</div>
