{% load i18n %}
{% load rest_framework %}
{% load dynamic_rest %}

<div id="{{ filter.id }}" class="drest-field--relation w-100 drest-field--relation drest-field--select2 drest-field many{% if filter.errors %} drest-field--invalid{% endif %}">
    <label for="{{ filter.id }}-input" class="drest-field__label">{{ filter.label }}</label>

    <div class="drest-field__select w-100">
        <select
            class='w-100'
            id="{{ filter.id }}-input"
            {% if filter.many %}multiple="multiple"{% endif %}
            name="{{ filter.key }}">
        </select>
    </div>

    <p id="{{ filter.id }}-helper" class="{% if filter.errors %}mdc-text-field-helper-text--persistent {% endif %}push-up mdc-text-field-helper-text" aria-hidden="false">
        {% for error in filter.errors %}
            <span>{{error}}</span>
        {% endfor %}
    </p>

    {% include "./filter-js.html" %}
</div>
