{% load i18n %}
{% load rest_framework %}
{% load dynamic_rest %}

<div id="{{ filter.id }}" class="drest-field--relation drest-field--relation drest-field--select2 drest-field many{% if filter.errors %} drest-field--invalid{% endif %}">
    <label for="{{ filter.id }}-input" class="drest-label">{{ filter.label }}</label>

    <div class="drest-field__body">
        <select
            class='drest-field__input'
            id="{{ filter.id }}-input"
            {% if filter.many %}multiple="multiple"{% endif %}
            name="{{ filter.key }}">
        </select>
    </div>

    <p id="{{ filter.id }}-helper" class="drest-field__helper">
        {% for error in filter.errors %}
            <span>{{error}}</span>
        {% endfor %}
    </p>

    {% include "./filter-js.html" %}
</div>
