{% load i18n %}
{% load rest_framework %}
{% load dynamic_rest %}

<div class="drest-field drest-field--select2 {% if many %}many{% endif %}">
    <label class="drest-field__label">{{ label }}</label>

    <div class="drest-field__select w-100">
        <select
            class="w-100 filter"
            {% if many %}multiple="multiple"{% endif %}
            name="{{ key }}"
        >
        </select>
    </div>
</div>

<script>
    $(document).ready(function() {
        var many = {% if many %}true{% else %}false{% endif %};
        var value = {{ value | to_json }};
        var choices = {{ choices | to_json }};
        // get field/serializer info
        var fieldName = '{{ key }}';
        var initials = [];
        var selected = [];
        var isSelected;
        for (var v in choices) {
            var val = choices[v];
            v = v ? v.toString() : v;
            if (many) {
                isSelected = value.indexOf(v) > -1;
            } else {
                isSelected = value === v;
            }
            initials.push({
                id: v,
                text: val,
                name: val,
                selected: isSelected
            });
            if (isSelected) {
                selected.push(v);
            }
        }
        if (!many) {
            selected = selected[0];
        }
        var $select2 = $("select.filter[name='" + fieldName + "']");
        var $parent = $select2.closest('.drest-field');
        var select2 = $select2[0];
        $select2.select2({
            data: initials,
            dropdownParent: $parent,
            theme: 'material',
            language: {
                inputTooShort: function() {

                    return {% if help_text %}"{{ help_text | help_text_short_format | safe }}"{% else %}"Start typing"{% endif %};
                }
            },
            theme: 'material',
            placeholder: "{{ label }}",
            allowClear: true
        });
        $select2.on('select2:open', function(e){
            $parent.addClass('drest-field--focused');
        });
        $select2.on('select2:select', function(e){
            $parent.addClass('drest-field--selected');
        });
        $select2.on('change', function() {
            var val = $(select2).val();
            if (!val || typeof val === 'undefined') {
                $parent.removeClass('drest-field--selected');
            }
        });
        if ($select2.val()) {
            $parent.addClass('drest-field--selected');
        }
        $select2.on('select2:close', function(e){
            $parent.removeClass('drest-field--focused');
            $parent.removeClass('drest-field--invalid');
        });

        $(select2).val(selected).trigger('change');
        $(select2).val(selected).trigger('change');
    });
</script>
