{% load dynamic_rest %}

    <div class="drest-field">
        <div class="mdc-text-field mdc-text-field--fullwidth" data-mdc-auto-init="MDCTextField">
            <input
                class="mdc-text-field__input"
                name="{{ key }}"
                type="text"
                id="{{ id }}-input"
                {% if help_text %}
                    aria-controls="{{ id }}-helper"
                    aria-describedby="{{ id }}-helper"
                {% endif %}
                {% if value %}
                    value="{{ value }}"
                {% endif %}
            />
            <label
                class="mdc-floating-label mdc-floating-label"
                data-mdc-auto-init="MDCFloatingLabel"
                for="{{ id }}-input"
            >
                {{ label }}
            </label>
            <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>
        </div>
        <p id="{{ id }}-helper" class="mdc-text-field-helper-text" aria-hidden="true">
            {% if help_text %}
                {{ help_text | help_text_short_format | safe }}
            {% endif %}
        </p>

    </div>
