{% load dynamic_rest %}

    <div id="{{ filter.id }}" class="drest-field--text drest-field {% if filter.errors %}drest-field--invalid{% endif %}">
        <div
            class="drest-field__body"
            data-mdc-auto-init="MDCTextField">
            <input
                class="drest-field__input"
                name="{{ filter.key }}"
                type="text"
                id="{{ filter.id }}-input"
                value={{ filter | filter_to_json }}
                {% if filter.errors or filter.help_text %}
                    aria-controls="{{ filter.id }}-helper"
                    aria-describedby="{{ filter.id }}-helper"
                {% endif %}
                {% if filter.errors %}
                    invalid
                {% endif %}
            />
            <label
                class="drest-label"
                for="{{ filter.id }}-input"
            >
                {{ filter.label }}
            </label>
            <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>
        </div>
        <p
            id="{{ filter.id }}-helper"
            class="drest-field__helper"
            aria-hidden="{% if filter.errors %}false{% else %}true{% endif %}">
                {% if filter.errors %}
                    {% for error in filter.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                {% else %}
                    {% if filter.help_text %}
                        {{ filter.help_text | help_text_short_format | safe }}
                    {% endif %}
                {% endif %}
        </p>
        {% include "./filter-js.html" %}
    </div>
