{% if field.label %}
    <label class="col-sm-2 form-control-label {% if style.hide_label %}sr-only{% endif %}">
        {% if field.help_text %}
            <span class="drest-has-tooltip" data-trigger="click" data-placement="right" data-toggle="tooltip" title="{{ field.help_text | safe }}">
                {{ field.label }}{% if field.required %}<b>*</b><{% endif %}
            </span>
        {% else %}
            {{ field.label }}{% if field.required %}<b>*</b>{% endif %}
        {% endif %}
    </label>
{% endif %}
