{% load i18n %}
{% load rest_framework %}
{% load dynamic_rest %}

{% trans "No items to select." as no_items %}

<div class="drest-field {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id }}" class="drest-select-float mdc-floating-label mdc-floating-label--float-above">{{ field.label }}</label>

    <div class="drest-select">
        <select id="{{ field.id }}" multiple="multiple" name="{{ field.name }}">
        </select>
    </div>

    {% if field.errors %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    {% endif %}
</div>

<script>
    $(document).ready(function() {
        // set initial values
        var values = {{field.value | to_json | safe}};
        var $el = $("#{{ field.id }}");
        for (var v in values) {
            if (values.hasOwnProperty(v)) {
                var value = values[v];
                $el.append(
                    '<option selected="selected">' + value + '</option>'
                );
            }
        }
        $el.select2({
            tags: true,
            theme: 'material',
            minimumInputLength: 1,
        });
    });
</script>
