{% load rest_framework %}
{% load dynamic_rest %}

<div class="drest-field mdc-select" data-mdc-auto-init="MDCSelect">
    <select id="{{ field.id }}" class="mdc-select__native-control" name="{{ field.name }}">
      {% if field.required and not field.allow_null %}
        {% if not field.value %}
            <option value="" selected>--------</option>
        {% endif %}
      {% else %}
        <option value="" {% if not field.value %}selected{% endif %}>
            --------
        </option>
      {% endif %}

      {% for select in field.iter_options %}
          {% if select.start_option_group %}
            <optgroup label="{{ select.label }}">
          {% elif select.end_option_group %}
            </optgroup>
          {% else %}
            <option value="{{ select.value }}" {% if select.value|as_string == field.value|as_string %}selected{% endif %} {% if select.disabled %}disabled{% endif %}>{{ select.display_text }}</option>
          {% endif %}
      {% endfor %}
    </select>

      <label data-mdc-auto-init="MDCFloatingLabel" class="mdc-floating-label" for="{{ field.id }}">
        {{ field.label }}
      </label>
      <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>

    {% if field.errors %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    {% endif %}

</div>

{% if field.controls %}
    <script>
        $(document).ready(function() {
            var fieldId = "#{{ field.id }}";
            var controls = {{ field.controls | to_json }};
            var $field = $(fieldId);
            var $form = $field.closest('form');
            var fieldChanged = function() {
                var value = $field.val() || '';
                var show = controls[value];
                $form.find('input, select, radio, textarea')
                .each(function() {
                    var $f = $(this);
                    if ($f.attr('disabled')) {
                        return;
                    }
                    var $target = $f.closest('.form-group');
                    var name = $f.attr('name');
                    if (!show || show.length === 0) {
                        $target.show();
                    } else {
                        if (show.indexOf(name) > -1)  {
                            $target.show();
                        } else {
                            $target.hide();
                        }
                    }
                });
            }
            $field.on('change', fieldChanged);
            fieldChanged();
        });
    </script>
{% endif %}
