#drestProgressBar {
    height: 3px;
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    right: 0;
}
.file-input .file-upload-indicator {
    display: none;
}
.drest .file-input.file-input-ajax-new .close.fileinput-remove {
    display: none;
}
.drest .file-input .file-preview-frame .file-thumbnail-footer {
    height: 40px;
}
.drest .file-input .file-preview-frame .kv-file-content {
    width: auto;
    max-height: 100%;
}
.drest .file-input .file-preview-frame {
    float: none;
}
.has-error .help-block {
    color: #d9534f!important
}
.drest-no-margin {
    margin: 0 !important;
}
.drest-menu-btn {
    position: absolute;
    left: -5px;
    margin-top: -8px;
    color: white;
    top: 50%;
}
.drest-no-padding {
    padding: 0 !important;
}
.drest-link {
    cursor: pointer;
}
.drest-column-header {
    font-size: 11px;
    white-space: nowrap;
}
.drest-icon-left {
    width: 30px;
}
.drest-content-container {
    display: none;
    /* position: fixed; */
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
.drest-content {
    position: relative;
    margin-top: 55px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.drest-content.padded {
    padding: 20px;
}
.drest-content > .container {
    padding: 0;
}
.drest-nav {
    justify-content: space-between;
    flex-direction: row;
}
.drest-nav-left, .drest-nav-right {
    flex: 0 0 auto;
    width: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.drest-nav-right {
    text-align: end;
}

.drest-nav-center {
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.drest-logo {
    width: 38px;
}
.drest-btn {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.drest-btn-label {
    display: inline-block;
}
@media screen and (max-width: 600px) {
    .drest-nav-right,.drest-nav-left {
        width: 30px;
    }
    .drest-btn {
        display: flex;
        width: 38px;
        height: 38px;
        flex-direction: column;
    }
    .drest-btn-label {
        font-size: 9px;
    }
}
@media screen and (max-width: 420px) {
    .drest-nav .nav-link {
        padding: 0;
    }
}
.table.drest-table-list {
    border-spacing: 0px;
}
.navbar-brand.drest-nav-left {
    margin-right: 0;
}
.drest-table-list.table tr:first-child td {
    border-top: 0;
}
.table.drest-table-detail, .table.drest-table-list {
    margin-bottom: 60px !important;
    margin-top: 0px !important;
}
.drest-content .st-key, .drest-table-list.table th, .drest-content th, .modal .form-control-label, .drest-field .drest-field-label {
    font-weight: 600;
    font-size: 11px;
    text-align: inherit;
    align-self: center;
    vertical-align: inherit;
    text-transform: uppercase;
}
.drest-field > td {
    vertical-align: middle;
}
.drest-content th:last-child {
    border-right: 0px;
}
.drest-nav-alert {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9001;
    bottom: 0;
}
.navbar .drest-has-tooltip {
    border-bottom: 0px;
}
.drest.modal .modal-dialog.modal-dialog {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.drest.modal .modal-header.modal-header {
    height: 56px;
    border: 0px;
}
.drest.modal .modal-header .close {
    color: white;
}
.drest.modal .modal-content.modal-content {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border: 0px;
    border-radius: 0;
}
.drest.modal .modal-content .modal-body {
    position: fixed;
    top: 56px;
    bottom: 60px;
    left: 0px;
    right: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.drest.modal .modal-content .modal-header{
    position: fixed;
    color: white;
    height: 56px;
    left: 0px;
    right: 0px;
    top: 0px;
}
.drest.modal .modal-footer.modal-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 0px;
    height: 60px;
}
.drest-has-tooltip {
    border-bottom: 1px dotted #999;
}
.table.drest-table-detail td, .table.drest-table-detail th {
    border: 0;
}
.table.drest-table-directory td, .table.drest-table-directory th {
    border: 0;
}
.select2-search__field {
    width: 100% !important;
}
.tippy-tooltip {
    padding: 20px !important;
    text-align: left;
}

/**
 * Multiple Select2
 */
.select2-container--material {
  width: 100% !important;
}
.select2-container--material ::-webkit-input-placeholder {
  color: inherit;
}
.select2-container--material :-ms-input-placeholder {
  color: inherit;
}
.select2-container--material ::-ms-input-placeholder {
  color: inherit;
}
.select2-container--material ::placeholder {
  color: inherit;
}
.select2-container--material .select2-selection {
  /* @extend input */
  overflow: visible;
  font: inherit;
  touch-action: manipulation;
  margin: 0;
  line-height: inherit;
  border-radius: 0;
  box-sizing: inherit;
  /* @extend .form-control */
  display: block;
  width: 100%;
  color: #55595c;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: .5rem 0 .6rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  margin-top: .2rem;
  margin-bottom: 1rem;
  /* @extend input[type=text] */
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  outline: 0;
  width: 100%;
  font-size: 1rem;
  box-shadow: none;
  transition: all .3s;
  min-height: 2.1rem;
}
.select2-container--material .select2-selection .select2-selection__rendered {
  padding-left: 0;
}
.select2-container--material .select2-selection--single .select2-selection__rendered {
  float: left;
}
.select2-container--material .select2-selection--single .select2-selection__arrow {
  float: right;
}
.select2-container--material .select2-selection--multiple {
}
.select2-container--material .select2-selection--multiple .select2-selection__rendered {
  width: 100%;
}
.select2-container--material .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice {
  /* @extend .mdl-chip */

  height: 32px;
  line-height: 32px;
  padding: 0 12px;

  border: 0;
  border-radius: 16px;
  background-color: #dedede;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  margin: 2px 0;
  font-size: 0;
  white-space: nowrap;
  /* @extend .mdl-chip__text */
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
  float: left;
  margin-right: 8px;
  margin-bottom: 4px;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove {
  /* Hide default content */
  font-size: 0;
  opacity: 0.38;
  cursor: pointer;
  float: right;
  margin-top: 4px;
  margin-right: -6px;
  margin-left: 6px;
  transition: opacity;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove::before {
  content: "cancel";
  /* @extend .material-icons */
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #000;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove:hover {
  opacity: 0.54;
}
.select2-container--material .select2-search--inline .select2-search__field {
  width: 100%;
  margin-top: 0;
  /* Match input[type=text] */
  height: 34px;
  line-height: 1;
}
.select2-container--material .select2-dropdown {
  border: 0;
}
.select2-container--material .select2-dropdown.select2-dropdown--below {
  top: -52px;
}
.select2-container--material .select2-dropdown.select2-dropdown--above {
  top: 52px;
}
.select2-container--material .select2-dropdown .select2-search__field {
  min-height: 2.1rem;
  margin-bottom: -4px;  /* change */
  border: 0;
  border-bottom: 1px solid #ccc;
  transition: all .3s;
}
.select2-container--material .select2-dropdown .select2-search__field:focus {
  border-bottom: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4585f4;
}
.select2-container--material .select2-results__options {
  /* @extend .zf-shadow-depth* */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* @extend .dropdown-content */
  background-color: #fff;
  margin: 0;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  z-index: 999;
  will-change: width,height;
  /* @extend .dropdown-content inline styles */
}
.select2-container--material .select2-results__option {
  /* @extend .dropdown-content li */
  cursor: pointer;
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5rem;
  text-align: left;
  text-transform: none;
  /* @extend .dropdown-content li>a, .dropdown-content li>span */
  font-size: 1.2rem;
  display: block;
  padding: 1rem;
  /**
   * Disabled options
   */
  /**
   * Selected option
   */
  /**
   * Active/hovered option
   */
}
.select2-container--material .select2-results__option[aria-disabled=true] {
  /* @extend .select-dropdown li.disabled */
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent !important;
  cursor: context-menu;
  /* @extend .disabled */
  cursor: not-allowed;
}
.select2-container--material .select2-results__option[aria-selected=true] {
  /* @extend .dropdown-content li:active, .dropdow-content li:hover */
  color: #4285f4;
  background-color: #eee;
}
.select2-container--material .select2-results__option--highlighted[aria-selected] {
  background-color: #ddd;
}
.select2-container--material.select2-container--focus .select2-selection {
  /* @extend input[type=text]:focus */
  border-bottom: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4585f4;
}
.select2-container--material.select2-container--disabled .select2-selection {
  /* @extend .select-wrapper input.select-dropdown:disabled */
  color: rgba(0, 0, 0, 0.3);
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.select2-container--material.select2-container--disabled.select2-container--focus .select2-selection {
  box-shadow: none;
}

.select2-container--material .select2-selection__clear {
    position: absolute !important;
    right: 24px;
    width: 24px;
    text-align: center;
}
.select2-container--material .select2-results__options {
    box-shadow: none;
}
.select2-container--material .select2-results__message {
    font-size: 0.75rem;
    padding: 0;
    margin-top: -2px;
    margin-left: 3px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
}
:focus {
  outline: none;
}
/* mdc fixes */
.drest .mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input {
    padding: 20px 0 1px;
}
.drest input.drest {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    padding-top: 2px;
    -webkit-border-radius: 0;
}
.drest-text-field:not(.drest-text-field--disabled) .mdc-floating-label {
    color: rgba(0, 0, 0, 0.6);
}
.drest-select {
    padding: 20px 0 1px;
}
.drest-field {
    position: relative;
    width: 100%;
}
.drest-field:not(last-child) {
    margin-bottom: 1.5rem;
}
.drest .drest-select-float {
    top: 20px;
    bottom: auto;
}
.drest-field .mdc-floating-label {
    color: rgba(0, 0, 0, 0.6);
}
