.file-input .file-upload-indicator {
    display: none;
}
.drest .file-input.file-input-ajax-new .close.fileinput-remove {
    display: none;
}
.drest .file-input .file-preview-frame .file-thumbnail-footer {
    height: 40px;
}
.drest .file-input .file-preview-frame .kv-file-content {
    width: auto;
    max-height: 100%;
}
.drest .file-input .file-preview-frame {
    float: none;
}
.has-error .help-block {
    color: #d9534f!important
}
.drest-no-margin {
    margin: 0 !important;
}
.drest-menu-btn {
    position: absolute;
    left: -5px;
    margin-top: -8px;
    color: white;
    top: 50%;
}
.drest-no-padding {
    padding: 0 !important;
}
.drest-link {
    cursor: pointer;
}
.drest-column-header {
    font-size: 11px;
    white-space: nowrap;
}
.drest-icon-left {
    width: 30px;
}
.drest-content-container {
    display: none;
    /* position: fixed; */
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
.drest-content {
    position: relative;
    margin-top: 55px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.drest-content.padded {
    padding: 20px;
}
.drest-content > .container {
    padding: 0;
}
.drest-nav {
    justify-content: space-between;
    flex-direction: row;
}
.drest-nav-left, .drest-nav-right {
    flex: 0 0 auto;
    width: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.drest-nav-right {
    text-align: end;
}

.drest-nav-center {
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.drest-logo {
    width: 38px;
}
.drest-btn {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.drest-btn-label {
    display: inline-block;
}
@media screen and (max-width: 600px) {
    .drest-nav-right,.drest-nav-left {
        width: 30px;
    }
    .drest-btn {
        display: flex;
        width: 38px;
        height: 38px;
        flex-direction: column;
    }
    .drest-btn-label {
        font-size: 9px;
    }
}
@media screen and (max-width: 420px) {
    .drest-nav .nav-link {
        padding: 0;
    }
}
.table.drest-table-list {
    border-spacing: 0px;
}
.navbar-brand.drest-nav-left {
    margin-right: 0;
}
.drest-table-list.table tr:first-child td {
    border-top: 0;
}
.dataTable.drest-table-detail, .dataTable.drest-table-list {
    margin-bottom: 60px !important;
    margin-top: 0px !important;
}
.drest-content .st-key, .drest-table-list.table th, .drest-content th, .modal .form-control-label, .drest-field .drest-field-label {
    font-weight: 600;
    font-size: 11px;
    text-align: inherit;
    align-self: center;
    vertical-align: inherit;
    text-transform: uppercase;
}
.drest-field > td {
    vertical-align: middle;
}
.drest-content th:last-child {
    border-right: 0px;
}
.drest-nav-alert {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9001;
    bottom: 0;
}
.drest-field {
    border-bottom: 1px solid #eaeaea;
}
.drest-field:last-child {
    border-bottom: 0px;
}
.navbar .drest-has-tooltip {
    border-bottom: 0px;
}
.drest.modal .modal-dialog.modal-dialog {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.drest.modal .modal-header.modal-header {
    height: 56px;
    border: 0px;
}
.drest.modal .modal-header .close {
    color: white;
}
.drest.modal .modal-content.modal-content {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border: 0px;
    border-radius: 0;
}
.drest.modal .modal-content .modal-body {
    position: fixed;
    top: 56px;
    bottom: 60px;
    left: 0px;
    right: 0px;
    overflow-y: scroll;
}
.drest.modal .modal-content .modal-header{
    position: fixed;
    color: white;
    height: 56px;
    left: 0px;
    right: 0px;
    top: 0px;
}
.drest.modal .modal-footer.modal-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 0px;
    height: 60px;
}
.drest-has-tooltip {
    border-bottom: 1px dotted #999;
}
.table.drest-table-detail td, .table.drest-table-detail th {
    border: 0;
}
.table.drest-table-directory td, .table.drest-table-directory th {
    border: 0;
}
.select2-search__field {
    width: 100% !important;
}
