/* Root */

:focus {
outline: none;
}

:root {
    --mdc-theme-secondary-lighter: #5fb3e0;
    --mdc-theme-primary-75: rgba(0,174,141, 0.75);
    --mdc-theme-primary-50: rgba(0,174,141, 0.50);
    --mdc-theme-error: #b00020;
}
/* Outputs */

/** Branding **/

html {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
html, body {
height: 100%;
}

*,
    *:before,
    *:after {
        box-sizing: inherit;
    }
#drest-notice {
    z-index: 10;
}
.drest-value {
    white-space: nowrap;
}
.drest-goto {
cursor: pointer;
}
.drest-hidden {
display: none;
}
.drest-grid {
width: 100%;
       column-gap: 0;
       margin-bottom: 1rem;
}
.drest-grid--1x {
width: 100%;
height: 100%;
display: flex;
         justify-content: center;
         align-items: center;
         column-count: 1 !important;
         max-width: 800px;
}
.drest-grid--2x {
    column-count: 2;
}
.drest-grid__item {
padding: 1rem;
display: inline-block;
         box-sizing: border-box;
width: 100%;
}
/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .drest-grid {
        column-count: 2;
    }
    .drest-grid.drest-grid--2x {
        column-count: 2;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .drest-grid {
        column-count: 2;
    }
    .drest-grid.drest-grid--2x {
        column-count: 2;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) {
    .drest-grid {
        column-count: 1 !important;
    }
    .drest-grid.drest-grid--2x {
        column-count: 1;
    }
}

.drest-logo {
width: 38px;
}
/** Container **/

#drest-content-container {
    padding-top: 55px;
width: 100%;
display: flex;
position: fixed;
height: 100%;
        box-sizing: border-box;
        justify-content: center;
}
.drest-content {
width: 100%;
height: 100%;
        box-sizing: border-box;
}
#drest-table_wrapper > .row:first-child {
display: none;
}
@media only screen and (min-width: 600px) {
#drest-content-container {
    padding-top: 64px;
}
}

/** Cards **/

.mdc-card {
position: relative;
}
.mdc-card__label {
    font-size: 0.75rem;
    margin-bottom: 0;
    padding-right: 3rem;
}
.mdc-card__value {
    font-size: 1rem;
    text-align: right;
}
.mdc-card.mdc-card--solo .mdc-card__value {
    text-align: left;
    font-size: 0.9rem;
}
.mdc-card.mdc-card--solo .drest-field.drest-field--disabled .select2-selection {
    /*margin-top: 0;
      margin-bottom: 0;
      border-bottom: 1px solid transparent;*/
}
.mdc-card__title {
    font-size: 1.25rem;
    padding-bottom: 0;
}
.mdc-card__mainaction {
position: absolute;
right: 0.75rem;
top: 0.75rem;
}

/** Navigation **/

#drest-header.drest-app--scrolling:not(.drest-app--editing) ~ .drest-pagination-container {
transform: translateY(-100px);
}
.drest-pagination-container {
transition: all 0.3s ease;
position: fixed;
right: 0;
bottom: -84px;
left: 0;
display: flex;
         justify-content: center;
         z-index: 4;
}
.drest-pagination .pagination .page-link {
border: none;
padding: 0.65rem 1rem;
}
@media only screen and (max-width: 340px) {
    .drest-pagination .pagination .page-link {
padding: 0.5rem 0.75rem;
    }
}
.drest-pagination .pagination .page-item:first-child .page-link {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}
.drest-pagination .pagination .page-item:last-child .page-link {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}
.drest-pagination .pagination .page-item:first-child,
    .drest-pagination .pagination .page-item:last-child {
        border-radius: 2rem;
    }
.drest-pagination .pagination {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 2rem;
}

/** Tables **/
.dataTables_wrapper .row > .col-sm-12 {
padding: 0;
}
.drest-table.table.fixedHeader-floating {
    z-index: 1;
top: 64px !important;
     box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.2);
transition: box-shadow 200ms linear;
}
.drest-table.table.fixedHeader-floating th {
border: 0;
}
@media only screen and (max-width: 600px) {
    .drest-table.table.fixedHeader-floating {
top: 55px !important;
    }
}
.drest-app--editing ~ .drest-table.dataTable.fixedHeader-floating {
display: none;
}
.drest-table.table {
}
.drest-table.table tr:first-child td {
    border-top: 0;
}
.drest-table:not(.fixedHeader-floating) {
width: 100% !important;
}
.drest-table.fixedHeader-floating {
width: calc(100% - 17px);
       max-width: calc(100% - 17px);
}
@media (hover: none) {
    .drest-table.fixedHeader-floating {
width: 100%;
       max-width: 100%;
    }
}
.drest-table.table {
    margin-bottom: 60px !important;
    border-spacing: 0px;
    margin-top: 0px !important;
}

.drest-table.table th {
    font-weight: 400;
color: rgba(0,0,0,0.6);
}
.drest-table__header {
position: relative;
          font-family: Roboto, sans-serif;
}
.drest-goto.drest-table__header::after {
width: 100%;
height: 100%;
        pointer-events: none;
position: absolute;
content: "";
         background-color: black;
opacity: 0;
top: 0;
left: 0;
      z-index: -1;
transition: opacity 150ms linear;
}
.drest-goto.drest-table__header:hover:not(:active)::after {
opacity: 0.05;
}
.drest-goto.drest-table__header:active::after {
opacity: 0.2;
}
/*
   .fixedHeader-floating .drest-goto.drest-table__header::after {
   background-color: white;
   }
   .fixedHeader-floating .drest-goto.drest-table__header:hover:not(:active)::after {
opacity: 0.1;
}
.fixedHeader-floating .drest-goto.drest-table__header:active::after {
opacity: 0.4;
}
 */

.drest-table__header-inner {
display: flex;
         align-items: center;
         white-space: nowrap;
}

/** Tooltips **/

.tippy-tooltip {
padding: 20px !important;
         text-align: left;
}
body .tippy-popper {
    max-width: 100%;
}

/* Inputs */

/** Button **/

.mdc-fab {
    z-index: 5;
}
.mdc-fab.mdc-fab--fixed-br {
position: fixed;
bottom: 1rem;
right: 1rem;
}
.mdc-fab.mdc-fab--fixed-br-2 {
position: fixed;
bottom: 5.5rem;
right: 1rem;
}
.drest-btn {
position: relative;
          flex-direction: row;
          align-items: center;
          justify-content: center;
cursor: pointer;
}
.drest-btn-label {
display: inline-block;
}
@media only screen and (max-width: 600px) {
    .drest-btn {
display: flex;
width: 38px;
height: 38px;
        border-radius: 20px;
        flex-direction: column;
    }
    .mdc-card__fields {
    }
    .mdc-card__mainaction {
top: 0;
    }
    .mdc-card__title {
position: relative;
    }
    .drest-btn-label {
display: none;
    }
}

/** drest-field **/
.drest-field__helper {
    height: 0;
    overflow: hidden;
    font-size: 0.75rem;
    display: block;
    position: relative;
}
.drest-field__helper.d--show {
    height: auto;
}
.drest-field__helper.d--invalid {
    color: var(--mdc-theme-error);
}
.drest-field__helper.absolute {
    position: absolute;
}
.drest-field--focused .drest-field__helper {
    height: auto;
}
.drest-field .mdc-checkbox__background::before {
    background-color: var(--mdc-theme-primary);
}
.drest-field .mdc-form-field--align-end .mdc-checkbox {
left: 0.75rem;
}
.drest-field.drest-field--changed .mdc-checkbox__background::before {
    background-color: var(--mdc-theme-secondary);
}
.drest-field--changed .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background {
    border-color: var(--mdc-theme-secondary);
}
.drest-field .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
    border-color: var(--mdc-theme-primary);
    background-color: var(--mdc-theme-primary);
}
.drest-field.drest-field--changed .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    border-color: var(--mdc-theme-secondary);
    background-color: var(--mdc-theme-secondary);
}
.drest-field--select2.many .select2-selection__clear {
display: none;
}
.drest-field--changed.drest-field--select2:not(.drest-field--invalid):not(.drest-field--focused) .select2-container .select2-selection {
    /* @extend input[type=text]:focus */
    border-bottom: 1px solid var(--mdc-theme-secondary);
}
.drest-field .drest-field__input:required ~ .drest-label::after {
    margin-left: 1px;
    content: '*';
}

.drest-form--readonly .drest-field .drest-label,
.drest-form--readonly .drest-field .drest-label--block {
    color: rgba(0, 0, 0, 0.8);
}
.drest-field.drest-field--changed:not(.drest-field--invalid):not(.drest-field--focused) .drest-label,
.drest-field.drest-field--changed:not(.drest-field--invalid):not(.drest-field--focused) .drest-label--block,
.drest-field.drest-field--changed:not(.drest-field--invalid):not(.drest-field--focused) .select2-search__field::placeholder,
.drest-field.drest-field--changed:not(.drest-field--invalid):not(.drest-field--focused) .select2-selection__placeholder {
    color: var(--mdc-theme-secondary);
}
.drest-field--text.drest-field--changed:not(.drest-field--invalid):not(.drest-field--focused) .drest-field__body,
.drest-field--select.drest-field--changed:not(.drest-field--invalid):not(.drest-field--focused) .drest-field__body .drest-field__input:not(:focus) {
    border-bottom-color: var(--mdc-theme-secondary);
}
.drest-field.drest-field--file.drest-field--changed:not(.drest-field--invalid) .dropify-wrapper {
    border: 1px solid var(--mdc-theme-secondary);
}
.drest-field--file .drest-field__helper {
    position: relative;
    top: 1.5rem;
}
.drest-field .dropify-wrapper {
    top: 1.5rem;
}
.drest-field.drest-field--disabled .select2-selection__placeholder {
    color: rgba(0, 0, 0, 0.8);
}
.drest-field .select2-selection__placeholder {
    /* remove this for floating select2 labels */
    display: none;
}

.drest-field label,
.drest-field .select2-selection__placeholder {
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.00937em;
    font-weight: 400;
}
.drest-field > td {
    vertical-align: middle;
}
.drest-field .drest-label {
    color: rgba(0,0,0,0.6);
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    left: 0;
    top: 0;
    font-size: 0.75rem;
    line-height: 0.75rem;
    position: absolute;
    transition: all .15s ease;
    -webkit-font-smoothing: antialiased;
}
.drest-field.drest-field--focused .drest-label {
    color: rgba(0, 174, 141, 0.87);
}
.drest-field--text textarea.drest-field__input {
    padding-bottom: 0;
    padding-top: 20px;
}
.drest-field.drest-field--disabled .drest-field__input {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.drest-field .drest-field__input {
}
.drest-field {
    position: relative;
    align-items: center;
    width: 100%;
}
.drest-search__results {
    position: absolute;
    top: 49px;
    width: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}
/** drest-form **/
.drest-section {
    padding: 1.25rem;
}
@media only screen and (max-width: 600px) {
    .drest-grid__item {
        padding: 0.5rem;
    }
    .drest-grid__item:not(:first-child) {
        padding-top: 0;
    }
    .drest-grid__item:not(:first-child) .drest-section {
        padding-top: 0;
    }
    .drest-section.mdc-card {
        box-shadow: none;
    }
}
.drest-section .drest-field {
    transition: all .3s;
}
.drest-navigation {
    width: 100%;
    height: 100%;
    position: relative;
}
.drest-scene {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    bottom: 0;
    display: none;
    z-index: 0;
    transition: opacity 0.3s ease;
}
.drest-scene--active {
    z-index: 1;
}
.swiper-slide {
    overflow: hidden;
}
.drest-form {
    width: 100%;
    display: flex;
    justify-content: center;
}
.drest-form__header {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid #ccc;
    background-color: white;
    display: flex;
}
.drest-form__header > label {
    font-weight: 600;
    margin-right: 1rem;
}
.drest-form__header > span {
}
.drest-field {
    height: auto;
}
.drest-field:not(:last-child) {
    margin-bottom: 2rem;
}
.drest-field:last-child {
    margin-bottom: 1rem;
}
.drest-form .drest-field:first-child {
    margin-top: 0;
}
.drest-form .drest-field:first-child {
    margin-top: 0;
}
.drest-form.drest-form--readonly .drest-field .drest-btn {
    display: none;
}
.drest-form:not(.drest-form--readonly) .drest-btn {
    display: none;
}

/** drest-field--invalid **/

.drest-field.drest-field--invalid,
.drest-field.drest-field--invalid .drest-label {
    color: var(--mdc-theme-error);
}

/** drest-field--datetime **/

.drest-field.drest-field--focused.drest-field--datetime .drest-field__input {
    border-bottom: 1px solid var(--mdc-theme-primary);
}
.drest-field--select2 .select2-selection__placeholder {
    transform: translateY(-100%) scale(0.75);
}

/** drest-field--file **/

.drest-field.drest-field--file {
    height: auto;
    min-height: 223px;
}
.drest-field--disabled .dropify-wrapper .dropify-clear,
.drest-field--disabled .dropify-wrapper .drest-field__clear,
.drest-field:not(.drest-field--selected) .dropify-wrapper .drest-field__clear {
    display: none;
}
.drest-field.drest-field--file .dropify-wrapper {
    border: 1px solid rgba(0,0,0,0.12)
}
.drest-field.drest-field--file.drest-field--selected .dropify-preview {
    display: block;
}
.drest-field.drest-field--disabled .dropify-wrapper .dropify-preview {
    z-index: 1;
}
.drest-field.drest-field--disabled .dropify-wrapper input[type="file"] {
    z-index: 0;
}


/** drest-field--select2 **/

.mdc-card--solo .drest-field.drest-field--file.drest-field--disabled .dropify-wrapper:hover {
    background-size: 0 0;
    cursor: auto;
}
.drest-field:not(.drest-field--disabled) .dropify-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.03);
    background-size: 0 0;
}
.drest-field--file.drest-field--disabled .dropify-infos {
    display: none;
}
.drest-field.drest-field--disabled input[type="file"] {
    cursor: default;
}
.drest-field--select2 .select2-container .select2-search__field::placeholder {
    opacity: 0;
}
.drest-field--select2 .select2-container .select2-search__field {
    background-color: transparent;
}
.drest-field--select2 .select2-container {
    width: 100% !important;
}
.drest-field--select2 .select2-container ::-webkit-input-placeholder {
    color: inherit;
}
.drest-field--select2 .select2-container :-ms-input-placeholder {
    color: inherit;
}
.drest-field--select2 .select2-container ::-ms-input-placeholder {
    color: inherit;
}
.drest-field--select2 .select2-dropdown .select2-search__field {
    width: 100% !important;
    padding: 0;
}
.drest-field.drest-field--select2.drest-field--focused .select2-search__field::placeholder {
    color: rgba(0, 0, 0, 0);
}
.drest-field--select2 .select2-container ::placeholder {
    opacity: 1;
}
.drest-field.drest-field--disabled.drest-field--select2 .select2-search__field::placeholder {
    color: rgba(0, 0, 0, 0.8);
}
.drest-field.drest-field--select2 .select2-search__field::placeholder{
    color: rgba(0, 0, 0, 0.6);
}
.drest-field--select2 .select2-container ::placeholder {
    color: inherit;
}
.drest-field--select2.drest-field--invalid .select2-container .select2-selection {
    border-bottom: 1px solid var(--mdc-theme-error);
}
.drest-field--select2 .select2-container .select2-selection {
  /* @extend input */
  overflow: visible;
  font: inherit;
  touch-action: manipulation;
  margin: 0;
  line-height: inherit;
  border-radius: 0;
  box-sizing: inherit;
  /* @extend .form-control */
  display: block;
  color: #55595c;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0; /* .5rem 0 .6rem; */
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  /* @extend input[type=text] */
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  outline: 0;
  font-size: 1rem;
  box-shadow: none;
  /* transition: all .3s; */
}
.drest-field--select2 .select2-container .select2-selection .select2-selection__rendered {
  margin-bottom: 0px;
  padding-left: 0;
  display: inline-block;
  overflow: visible;
}
.drest-field--select2.drest-field--focused .select2-container .select2-selection--single {
    /* opacity: 0; */
    transition: all 0.2s ease;
}
.drest-field--select2.drest-field--selected.drest-field--focused:not(.drest-field--disabled) .select2-container .select2-selection--single {
    opacity: 0;
}

.drest-field:not(.drest-field--disabled) .select2-container .select2-selection--single .select2-selection__rendered {
  width: 100%;
}
.drest-field--select2 .select2-container .select2-selection--single .select2-selection__arrow {
  display: none;
}
.drest-field--select2 .select2-container .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}
.drest-field--select2.drest-field--disabled .select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: transparent;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    padding: 0;
    min-width: auto;
    width: 0;
}
.drest-field--select2.drest-field--selected .select2-container .select2-selection--multiple .select2-selection__rendered {
}
.drest-form--readonly .drest-field.drest-field--writeonly {
    height: 0;
    margin: 0;
    overflow-y: hidden;
}
.drest-form--readonly .drest-field--relation.drest-field--disabled.drest-field--focused .select2-container .select2-selection--multiple .select2-selection__choice,
.drest-form--readonly .drest-field--relation.drest-field--disabled.drest-field--focused .select2-container .select2-selection__rendered {
    color: var(--mdc-theme-primary);
    cursor: pointer;
}
.drest-field--select2 .select2-container .select2-selection--multiple .select2-selection__choice {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  position: relative;
  border: 0;
  border-radius: 16px;
  background-color: #dedede;
  /* color: rgba(0, 0, 0, 0.87); */
  font-size: 0;
  white-space: nowrap;
  /* @extend .mdl-chip__text */
  font-size: 13px;
  vertical-align: middle;
  display: block;
}
.drest-field.drest-field--select2 .select2-container .select2-selection--multiple .select2-selection__choice__remove {
  /* Hide default content */
  font-size: 0;
  opacity: 0.38;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  margin-top: 4px;
  margin-left: 6px;
  transition: opacity;
}
.drest-field.drest-field--disabled.drest-field--relation .select2-container .select2-selection--multiple .select2-selection__choice__remove::before {
    display: none;
}
.drest-field.drest-field--select2 .select2-container .select2-selection--multiple .select2-selection__choice__remove::before {
  content: "cancel";
  /* @extend .material-icons */
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #000;
}
.drest-field.drest-field--select2 .select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
  opacity: 0.54;
}
.drest-field.drest-field--select2.many .select2-search--inline {
    transition: all .2s ease;
    height: 0;
}
.drest-field.drest-field--select2.many:not(.drest-field--selected) .select2-search--inline {
    height: auto;
}
.drest-field.drest-field--focused.drest-field--select2.many .select2-search--inline {
    height: auto;
}
.drest-field .select2-selection__choice {
    margin-bottom: 2px;
}
.drest-field.drest-field--select2.many.drest-field--selected.drest-field--disabled .select2-search--inline {
    height: 0;
}
.drest-field.drest-field--select2 .select2-container .select2-search--inline .select2-search__field {
  width: 100%;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  line-height: 1;
}
.drest-field--disabled input[type=number]::-webkit-outer-spin-button,
.drest-field--disabled input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.drest-field.drest-field--disabled input[type=number] {
    -moz-appearance:textfield;
}

.drest-field.drest-field--select2 .select2-container--disabled .select2-selection__clear {
    display: none;
}
.drest-form.drest-form--readonly .drest-field.drest-field--select2:not(.drest-field--relation) .select2-container--disabled .select2-selection__choice__remove {
    display: none;
}
.drest-field:not(.drest-field--disabled) .select2-container ul.select2-selection__rendered {
    width: 100%;
}
.drest-field:not(.drest-field--disabled) .select2-container .select2-selection__rendered .select2-selection__choice  {
    width: 100%;
}
.drest-field .select2-container .select2-dropdown {
     background-color: transparent;
     border: 0;
     top: 1px;
}
.drest-field .select2-container .select2-results__options.has-results {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}
.drest-field.drest-field--select2 .select2-container--open:not(.select2) {
    top: auto !important;
    left: 0 !important;
    bottom: 27px;
}
.drest-field.drest-field--select2.many .select2-container--open:not(.select2) {
    bottom: 0;
}
.drest-field.drest-field--disabled .dropify-wrapper .dropify-message p,
.drest-field.drest-field--disabled .dropify-wrapper .drest-field__clear
{
    display: none;
}
.drest-field--disabled .dropify-font-upload:before, .drest-field--disabled .dropify-wrapper .dropify-message span.file-icon:before {
    content: '\e801';
}
.drest-field--disabled .dropify-wrapper:hover {
    background-size: 0;
}
.drest-field.drest-field--file .dropify-wrapper .dropify-preview {
    z-index: 0;
    background-color: black;
}
.drest-field--select2.drest-field--focused .select2-selection__placeholder,
.drest-field--select2.drest-field--selected .select2-selection__placeholder
{
    transform: translateY(-100%) scale(0.75);
}
.drest-field .select2-search--dropdown {
    padding: 0;
}
.drest-field--select2 .select2-selection__placeholder {
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: left top;
    left: 0;
    position: absolute;
    font-family: Roboto, sans-serif;
}
.drest-field--select2.drest-field--focused .select2-selection__placeholder {
    color: rgba(0, 174, 141, 0.87);
}
.drest-field--select2 .select2-dropdown .select2-search__field {
  /* min-height: 2.1rem; */
  margin-bottom: -4px;  /* change */
  border: 0;
  /* border-bottom: 1px solid #ccc; */
  transition: all .3s;
}
.drest-field--select2 .select2-search--dropdown .select2-search__field {
  border-bottom: 1px solid var(--mdc-theme-primary);
  box-shadow: 0 1px 0 0 var(--mdc-theme-primary);
  transition: all .3s ease;
}
.drest-field--select2.drest-field--changed:not(.drest-field--focused):not(.drest-field--invalid) .select2-search--dropdown .select2-search__field {
  border-bottom: 1px solid var(--mdc-theme-secondary);
  /* box-shadow: 0 1px 0 0 var(--mdc-theme-secondary); */
}
.drest-field--select2 .select2-results__options {
  background-color: #fff;
  margin: 0;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 0;
  will-change: width,height;
  /* @extend .dropdown-content inline styles */
}
.drest-field--select2 .select2-results__option {
  cursor: pointer;
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1rem;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  font-size: 1rem;
  display: block;
  transition: all 0.2s ease;
  padding: 1rem;
}
.drest-field--select2 .select2-results__option[aria-disabled=true] {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent !important;
  cursor: context-menu;
  cursor: not-allowed;
}
.drest-field--select2 .select2-results__option[aria-selected=true] {
  color: var(--mdc-theme-primary);
  background-color: transparent;
}
.drest-field--select2.drest-field--changed:not(.drest-field--focused) .select2-results__option[aria-selected=true] {
  color: var(--mdc-theme-secondary);
}
.drest-field--select2 .select2-results__option--highlighted:hover,
.drest-field--select2 .select2-results__option--highlighted[aria-selected=false] {
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}
.drest-field--select2 .select2-container--focus .select2-selection {
  border-bottom: 1px solid var(--mdc-theme-primary);
  box-shadow: 0 1px 0 0 var(--mdc-theme-primary);
}
.drest-field--invalid.drest-field--select2 .select2-container--focus .select2-selection {
  border-bottom: 1px solid var(--mdc-theme-error);
  box-shadow: 0 1px 0 0 var(--mdc-theme-error);
}
.drest-field--select2.drest-field--changed:not(.drest-field--focused):not(.drest-field--invalid) .select2-container--focus .select2-selection {
  border-bottom: 1px solid var(--mdc-theme-secondary);
}
.drest-field--select2:not(.drest-field--disabled) .select2-container--disabled .select2-selection {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.drest-field--select2.drest-field--disabled .select2-container--disabled .select2-selection,
.drest-field.drest-field--disabled .select2-container .select2-selection__rendered {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.drest-field--select2 .select2-container--disabled .select2-selection {
  /* @extend .select-wrapper input.select-dropdown:disabled */
  color: rgba(0, 0, 0, 0.4);
  cursor: default;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.drest-field--select2 .select2-container--disabled.select2-container--focus .select2-selection {
  box-shadow: none;
}

.drest-field--select2 .select2-selection__clear {
    position: absolute !important;
    right: 0px;
    width: 24px;
    text-align: center;
}
.drest-field--select2 .select2-results__message {
    font-size: 0.75rem;
    padding: 0;
    margin-top: 5px;
    margin-left: 0px;
    font-weight: 400;
    display: none;
    font-family: Roboto,sans-serif;
}
.drest-field.drest-field--disabled.drest-field--select2.drest-field--selected .select2-container .select2-search--inline .select2-search__field {
    display: none;
}
.drest-field .drest-field__body {
    padding: 20px 0 0px;
    position: relative;
}
.mdc-card__fields {
    padding-top: 2rem;
}
.mdc-card.mdc-card--solo .mdc-card__fields {
    padding-top: 1rem;
}
.mdc-card__fields.hide {
    display: none;
}


/*** drest-field--select2.many **/


/*** drest-field--select ***/

.drest-field.drest-field--disabled .drest-field__input {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.drest-field .drest-field__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background-color: initial;
    font-family: Roboto, sans-serif;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

/* Misc */

.material-icons.large {
    font-size: 6rem;
}
.material-icons.medium {
    font-size: 4rem;
}
.material-icons.small {
    font-size: 2rem;
}
.material-icons.tiny {
    font-size: 1rem;
}
.drest-menu-btn {
    position: absolute;
    left: -5px;
    margin-top: -8px;
    color: white;
    top: 50%;
}

.drest-link {
    cursor: pointer;
}

.drest--clickable {
    cursor: pointer !important;
}
::selection {
    background: var(--mdc-theme-primary);
    color: white;
}
::-moz-selection {
    background: var(--mdc-theme-primary);
    color: white;
}

#drest-header {
    z-index: 1052;
}
#drest-drawer {
    z-index: 1053;
}
.drest-drawer__header {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    overflow: hidden;
    z-index: 1;
    background-color: var(--mdc-theme-primary);
}
.drest-drawer__header .mdc-list-item {
    color: white;
}
.drest-drawer__content {
    padding-top: 64px;
    background-color: black;
}
.drest-directory .mdc-list-item, .drest-drawer__header .mdc-list-item {
    height: 64px;
    font-size: 1.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.drest-drawer__content .drest-directory .mdc-list-item {
    background-color: black;
    color: white;
    transition: all 0.2s ease;
}
.drest-drawer__content .drest-directory .mdc-list-item:hover {
    background-color: rgba(0,0,0,0.7);
}
.drest-drawer__header .mdc-list, .drest-directory.mdc-list {
    padding: 0;
}
.drest-icon-left {
    margin-left: 0.5rem;
    margin-right: 1rem;
}
@media screen and (max-width: 600px) {
    .drest-directory .mdc-list-item, .drest-drawer__header .mdc-list-item {
        height: 56px;
    }
    #drest-drawer .drest-drawer__header {
        height: 56px;
    }
    #drest-drawer .drest-drawer__content {
        padding-top: 56px;
    }
    .drest-icon-left {
        margin-left: 0;
    }
}

.drest-field .mdc-form-field {
    width: 100%;
}
.drest-field .drest-label--block {
    padding: 0;
    margin: 0;
    margin-right: auto;
}
.drest-field.drest-field--focused .drest-label--block {
    color: var(--mdc-theme-primary);
}
/** drest-app **/

.drest-app {
    transition: all .3s ease;
}
.drest-app.drest-app--changed:not(.drest-app--error) {
    background-color: var(--mdc-theme-secondary);
}
.drest-app.drest-app--error {
    background-color: var(--mdc-theme-error);
}
#drest-fab {
    transition: all .3s ease;
}
#drest-fab.drest-app--editing ,
#drest-fab.drest-app--submitting {
    transform: translateY(100px);
}
.drest-app .drest-app__toolbar {
    flex: 0 0 auto;
}
.drest-app .drest-app__title {
    padding-left: 0;
    width: 100%;
    overflow: visible;
    position: relative;
}
.drest-app .drest-app__save-button {
    display: none;
}
.drest-app .drest-app__back-button {
    display: none;
}
.drest-app .drest-app__spinner {
    display: none;
}
.drest-app.drest-app--submitting .drest-app__spinner {
    display: block;
}
.drest-app.drest-app--editing:not(.drest-app--submitting) .drest-app__save-button {
    display: block;
}
.drest-app.drest-app--editing .drest-app__back-button {
    display: block;
}
.drest-app.drest-app--searching .drest-app__back-button {
    display: block;
}
.drest-app.drest-app--searching.drest-app--searching--filled:not(.drest-app--submitting) .drest-app__clear-button {
    display: block;
}
.drest-app__nav-button {
    font-size: 1.25rem;
}
.drest-app.drest-app--submitting .drest-app__more-button,
.drest-app.drest-app--submitting .drest-app__search-button {
    display: none;
}
.drest-app.drest-app--editing .drest-app__more-button,
.drest-app.drest-app--editing .drest-app__search-button,
.drest-app.drest-app--editing .drest-app__nav-button {
    display: none;
}
.drest-app.drest-app--searching .drest-app__more-button,
.drest-app.drest-app--searching .drest-app__search-button,
.drest-app.drest-app--searching .drest-app__title-content,
.drest-app.drest-app--searching .drest-app__nav-button,
.drest-app.drest-app--searching .drest-app__title {
    display: none;
}
.drest-app__clear-button {
    display: none;
}
.drest-app__search-container {
    width: 100%;
    display: none;
}
.drest-app--searching .drest-app__search-container {
    display: block;
    position: relative;
}
.drest-app__search-input {
    border: 0;
    font-family: Roboto, sans-serif;
    box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.9);
    width: 100%;
    background-color: var(--mdc-theme-primary);
    color: white;
}
.drest-app__search-input::placeholder {
    color: white;
    font-family: Roboto, sans-serif;
}
.drest-app.drest-app--submitting .drest-app__spinner {
    display: block;
}

.drest-spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.drest-spinner__path {
  stroke-dasharray: 80;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #fff;
  }
  25% {
    stroke: #fff;
  }
  50% {
    stroke: #fff;
  }
  75% {
    stroke: #fff;
  }
  100% {
    stroke: #fff;
  }
}

@keyframes colors {
  0% {
    stroke: #fff;
  }
  25% {
    stroke: #fff;
  }
  50% {
    stroke: #fff;
  }
  75% {
    stroke: #fff;
  }
  100% {
    stroke: #fff;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 80;
  }
  50% {
    stroke-dashoffset: 20;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 80;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 80;
  }
  50% {
    stroke-dashoffset: 20;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 80;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.drest-field__clear {
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 7;
}
.drest-field .mdc-line-ripple {
    background-color: var(--mdc-theme-primary);
}
.drest-field.drest-field--disabled:not(.drest-field--invalid) .mdc-line-ripple {
    background-color: black;
}
.drest-field--disabled.drest-field.drest-field--focused:not(.drest-field--invalid) .drest-label,
.drest-field--disabled.drest-field.drest-field--focused:not(.drest-field--invalid) .drest-label--block {
    color: black;
}
.drest-field--checkbox .drest-field__helper {
    bottom: -22px;
}
.drest-field:hover::after {
    z-index: 0;
    pointer-events: none;
    content: '';
    position: absolute;
    left: -1.25rem;
    top: -1rem;
    right: -1.25rem;
    bottom: -1rem;
}
.drest-field:hover::after {
    background-color: rgba(0,0,0,0.02);
}
.drest-field.drest-field--focused::after,
.drest-field.drest-field--focused::before {
    top: -0.5rem;
    bottom: -0.5rem;
    position: absolute;
    content: '';
    width: 10px;
    pointer-events: none;
}
.drest-field.drest-field--focused::after {
    left: -2rem;
}
.drest-field.drest-field--focused::before {
    right: -2rem;
}
.drest-field.drest-field--focused:not(.drest-field--disabled):not(.drest-field--invalid)::after,
.drest-field.drest-field--focused:not(.drest-field--disabled):not(.drest-field--invalid)::before {
    background-color: var(--mdc-theme-primary);
}
.drest-field.drest-field--focused.drest-field--disabled:not(.drest-field--invalid)::after,
.drest-field.drest-field--focused.drest-field--disabled:not(.drest-field--invalid)::before {
    background-color: black;
}
.drest-field--focused.drest-field--invalid::after,
.drest-field--focused.drest-field--invalid::before {
    background-color: var(--mdc-theme-error);
}

.drest-field.drest-field--invalid .mdc-line-ripple {
    background-color: var(--mdc-theme-error);
}
.drest-field.drest-field--focused .mdc-line-ripple {
    display: block;
}
