{% extends "dynamic_rest/admin.html" %}
{% load staticfiles %}
{% load rest_framework %}
{% load dynamic_rest %}

{% block header_nav_button %}
    <span class="mdc-top-app-bar__navigation-icon material-icons">lock</span>
{% endblock %}

{% block header_content %}
    <span class="mdi mdi-login"/>  Login
{% endblock %}

{% block content %}
    <div id="drest-content-container">
        <div class="drest-content">
            <form
                action="{% url 'dynamic_rest:login' %}"
                role="form"
                method="post"
            >
              {% csrf_token %}
              <div class="drest-grid--1x">
              <div class="drest-grid__item">

                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="drest-field">
                        <div class="{% if form.username.errors %}mdc-text-field--invalid{% endif %} mdc-text-field mdc-text-field--fullwidth" data-mdc-auto-init="MDCTextField">
                            <input
                                class="mdc-text-field__input"
                                name="username"
                                type="text"
                                id="username-input"
                                {% if form.username.errors %}
                                    aria-controls="username-helper"
                                    aria-describedby="username-helper"
                                {% endif %}
                                {% if form.username.errors %}
                                    invalid
                                {% endif %}
                                {% if form.username.value %}
                                    value={{ form.username.value }}
                                {% endif %}
                                required
                            />
                            <label class="mdc-floating-label mdc-floating-label" data-mdc-auto-init="MDCFloatingLabel" for="username-input">Username</label>
                            <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>
                        </div>
                        <p id="username-helper" class="{% if form.username.errors %}mdc-text-field-helper-text--validation-msg {% endif %}mdc-text-field-helper-text" aria-hidden="{% if form.username.errors %}false{% else %}true{% endif %}">
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="drest-field">
                        <div class="{% if form.password.errors %}mdc-text-field--invalid{% endif %} mdc-text-field mdc-text-field--fullwidth" data-mdc-auto-init="MDCTextField">
                            <input
                                class="mdc-text-field__input"
                                name="password"
                                type="password"
                                id="password-input"
                                {% if form.password.value %}
                                    value={{ form.password.value }}
                                {% endif %}
                                {% if form.password.errors %}
                                    aria-controls="password-helper"
                                    aria-describedby="password-helper"
                                {% endif %}
                                {% if form.password.errors %}
                                    invalid
                                {% endif %}
                                required
                            />
                            <label class="mdc-floating-label mdc-floating-label" data-mdc-auto-init="MDCFloatingLabel" for="password-input">Password</label>
                            <div class="mdc-line-ripple" data-mdc-auto-init="MDCLineRipple"></div>
                        </div>
                        <p id="password-helper" class="{% if form.password.errors %}mdc-text-field-helper-text--validation-msg {% endif %}mdc-text-field-helper-text" aria-hidden="{% if form.password.errors %}false{% else %}true{% endif %}">
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <div>{{error}}</div>
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>


                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="p-2 text-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}

                    <button type="submit" class="w-100 mdc-button mdc-button--raised">Log in</button>
                </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
